<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.icostel.facerecognition">
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher_background"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".di.FaceRecognitionApp"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.icostel.facerecognition.ui.screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="face"/>
    </application>

</manifest>